.home-dates-affiche {
  width: 100vw;
  margin-left: calc(-1 * (100vw - 100%) / 2);
  aspect-ratio: 495 / 700;
  background-image: url(../../asset/tdp_affiche.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #cc7b36 transparent;
}

.home-dates-container {
  width: 95%;
  margin: auto;
}

.home-description-container {
  width: 95%;
  margin: auto;
}

.home-caroussel-container {
  width: 95%;
  margin: auto;
}

.home-coments-conatiner {
  width: 95%;
  margin: auto;
}
