.footer-container {
  background-color: black;
  padding: 20px 0;
}

.footer-container-infos {
  width: 95%;
  margin: auto;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-contact-container {
  text-align: center;
}

.footer-contact {
  font-family: "Contrail";
  color: white;
  margin-bottom: 5px;
}

.footer-icons-container {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 20px auto;
}

.footer-icon {
  font-size: 30px;
}

.footer-fb-icon {
  color: #1877f2;
}

.footer-instagram-icon {
  color: #e1306c;
}

.footer-yt-icon {
  color: #ff0000;
}

.footer-pirate {
  width: 50px;
}

.footer-partner-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer-partner {
  width: 22.5%;
}

.footer-city-wrapper {
  overflow: hidden;
  width: 100%;
}

.footer-city-container {
  display: flex;
  width: 100%;
  animation: scroll-left 10s linear infinite;
}

.footer-city {
  flex: 0 0 22.5%;
  box-sizing: border-box;
  margin-right: 10px;
}

.footer-icon-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon-text {
  text-decoration: none;
    color: white;
    font-family: "Contrail";
    text-align: center;
    height: 34px;
}

footer a {
  text-decoration: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-185%);
  }
}

@media screen and (min-width: 1024px) {
  .footer-icon-container {
    transition: all 300ms ease-in-out;
  }

  .footer-icon-container:hover {
    transform: scale(1.3);
  }

  .footer-pirate {
    transition: all 300ms ease-in-out;
  }

  .footer-pirate:hover {
    transform: scale(1.3);
  }

  .footer-partner {
    transition: all 300ms ease-in-out;
  }

  .footer-partner:hover {
    transform: scale(1.1);
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-164%);
    }
  }
}
