.tournementItem-container {
  width: 48%;
  margin-top: 30px;
}

.tournementItem-relative {
  position: relative;
  width: 100%;
  height: 435px;
}

.tournementItem-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.tournementItem-infos-container {
  position: absolute;
  width: 85%;
  height: 92%;
  top: 50%;
  left: 50%;
  padding: 1%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Siracha";
  transform: translate(-50%, -50%);
}

.tournementItem-animation {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto";
}

.tournementItem-city,
.tournementItem-beach,
.tournementItem-time,
.tournementItem-date,
.tournementItem-dj {
  margin: 0;
}

.tournementItem-city {
  margin-top: 5px;
  font-family: "Contrail";
  font-size: 24px;
}

.tournementItem-beach {
  font-family: "Roboto";
  margin-top: 10px;
  font-size: 18px;
}

.tournementItem-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.tournementItem-date {
  font-size: 30px;
  margin-top: 10px;
  font-family: "Contrail";
}

.tournementItem-dj {
  text-align: center;
}

.tournementItem-categorie-container {
  text-align: center;
}

.master, 
.masters {
  font-family: "Nectarine";
}

.homme,
.hommes {
  color: #cc7b36;
}

.femme,
.femmes {
  color: #f2e377;
}

.kids {
  color: #f1db98;
}

.tournementItem-categorie-title {
  font-family: "Roboto";
}

.tournementItem-categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 5px;
}

.tournementItem-categorie {
  padding: 5px;
  border-radius: 10px;
}

.tournementItem-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.tournementItem-time {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

@media screen and (min-width: 1024px) {
  .tournementItem-container {
    width: 32%;
  }
}
