.banner-container {
  width: 100%;
}

.banner-relative {
  width: 100%;
  height: 500px;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 500px;
  position: absolute;
  object-fit: cover;
}

.banner-title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nectarine";
  font-size: 52px;
  text-align: center;
  color: white;
}

@media screen and (min-width: 1024px) {
  .banner-title {
    font-size: 95px;
  }
}
